
<div class="jumbotron">
    <div class="form-group" style="white-space: nowrap;">
        <lable style="display: inline-block;">Enter API Key:  </lable>
        <input id="apiKey" class="form-control" type="text" style="display: inline-block;"  />
        <button class="btn btn-primary" onclick="getDashboardData()">Go</button>
    </div>
    <div class="form-group" id="userMessage">

    </div>
</div>
<div>
    <div class="row">
        <div class="col-sm-4">
            <div id="chatCount" style="font-size:75px;">-</div>
            <p>Chat count</p>
        </div>
        <div class="col-sm-4">
            <div id="desktopVisits" style="font-size:75px;">-</div>
            <p>Desktop visits</p>
        </div>
        <div class="col-sm-4">
            <div id="mobileVisits" style="font-size:75px;">-</div>
            <p>Mobile visits</p>
        </div>
    </div>

</div>
<hr />
<h2>All Active Agents</h2>
<div id="operatorStatusTable"></div>


